* {
    margin: 0px;
    padding: 0px;
}





/* nav section styles start */
.nav-container {
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: center;
    gap: 400px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 0, 0, 0.048);
    background-color: rgba(229, 84, 115, 0.158);
}

.nav-flower-logo {
    height: 60px;
    width: 100%;
}

.nav-menu {
    display: flex;
    list-style: none;
    font-style: italic;
    font-size: 25px;
    color: rgb(255, 0, 234);
    gap: 30px;
}

.menu-link:hover {
    cursor: pointer;
    background-color: rgba(0, 255, 242, 0.192);
    border-radius: 3px;
    padding: 2px;
}

.linkup {
    text-decoration: none;
    color: rgb(0, 195, 255);
}

/* nav section styles end */




/* banner section style start */
.banner-container {
    display: flex;
    width: 100%;
    margin: auto;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background: rgba(229, 84, 115, 0.10);
}

.pink-tulips {
    width: 450px;
}

.banner-title {
    color: #272727;
    font-size: 55px;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    margin-right: 10px;
}

.button-primary {
    margin-top: 25px;
    padding: 18px 38px;
    background-color: #e55473;
    border-radius: 5px;
    border: none;
    color: white;
}

.button-primary:hover {
    cursor: pointer;
    background-color: #ec1d4a;
}

.banner-btn-linkup {
    text-decoration: none;
    color: white;
}

/* banner section styles end */